.btn-pick-float {
  /* box-shadow: 2px 2px 3px #999; */
  background-color: #25aff0;
  border-radius: 5px;
  width: 75px;
  height: 30px;
  right: 10px;
  bottom: 10px;
  color: black;
  cursor: pointer;
  position: fixed;
  text-align: center;
  transition: 200ms;
  z-index: 2147483645;
  box-shadow:
    1px 0px #3a587f, 0px 1px #4171ae,
    2px 1px #3a587f, 1px 2px #4171ae,
    3px 2px #3a587f, 2px 3px #4171ae,
    4px 3px #3a587f, 3px 4px #4171ae;
}

.soundcloud {
  background: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 222.1"><path fill="#fff" d="m89 111.2 4.6 52-4.6 54.5c-.2 2-1.8 3.5-3.5 3.5-1.8 0-3.4-1.5-3.4-3.5l-4.5-54.6 4.5-52a3.44 3.44 0 0 1 3.4-3.4c1.8.1 3.3 1.7 3.5 3.5zm17.2-36.5c-2.2 0-3.8 1.8-4 4l-4 84.4 4 54.6c.2 2.2 1.8 4 4 4 2 0 3.8-1.8 3.8-4l4.6-54.6-4.6-84.4c-.1-2.2-1.8-4-3.8-4zm20.3-19.2c-2.5 0-4.2 1.8-4.5 4.2l-3.5 103.9 3.5 54.2c.2 2.5 2 4.2 4.5 4.2 2.2 0 4.2-1.8 4.2-4.2l4.2-54.2-4.2-103.9c.1-2.5-1.9-4.2-4.2-4.2zM5.8 132.7c-1.1 0-1.8.9-2 2L0 163.1l3.8 28c.2 1.1.9 2 2 2s1.8-.9 2-2l4.5-28-4.5-28.5c-.3-1-.9-1.9-2-1.9zm18.8-17.5c-1.1 0-2 .9-2 2l-5.1 46 5.1 44.8c0 1.4.9 2.2 2 2.2s2-.9 2.2-2l5.8-45.1-5.8-46c-.2-1-1.1-1.9-2.2-1.9zm20.2-9.1c-1.4 0-2.5 1.1-2.6 2.6l-4.6 54.4 4.6 52.6c.2 1.4 1.4 2.5 2.6 2.5 1.4 0 2.5-1.1 2.5-2.5l5.5-52.6-5.5-54.4c0-1.5-1.1-2.6-2.5-2.6zm20.3-1.8c-1.5 0-2.9 1.1-2.9 2.9l-4.6 56 4.6 54.2c0 1.8 1.4 2.9 2.9 2.9s2.9-1.1 3.1-2.9l5.1-54.2-5.1-56c-.3-1.8-1.6-2.9-3.1-2.9zm193.2-88.6c-.9-.6-2.2-1.1-3.4-1.1-1.8 0-3.4.6-4.5 1.5-1.5 1.4-2.5 3.4-2.6 5.4v.5l-2.6 141.2 1.4 26 1.4 25.3c.2 3.8 3.4 6.9 7.1 6.9 3.8 0 6.9-3.1 6.9-6.9l3.1-51.3L262 21.3c-.4-2.3-1.7-4.5-3.7-5.6zm-21.6 12.2c-1.1-.6-2.2-1.1-3.5-1.1s-2.5.5-3.5 1.1c-1.8 1.1-2.9 3.1-2.9 5.4l-.9 1.4v128.5c-1.5 0-1.5.2 1 52.4v.2c-.1 1.4.4 2.6 1.3 3.8 1.4 1.5 3.1 2.5 5.1 2.5 1.8 0 3.4-.9 4.5-2 1.4-1.1 2-2.6 2-4.5l.2-5.4 2.5-46.8-2.6-130.1c-.3-2.3-1.5-4.3-3.2-5.4zm-89.1 18c-2.5 0-4.6 2.2-4.6 4.9l-3.5 112.4 3.5 53.7c.2 2.6 2.2 4.6 4.6 4.6 2.6 0 4.6-2 4.9-4.6l4-53.7-4-112.4c-.1-2.7-2.1-4.9-4.9-4.9zm301.6 50.3c-8.6 0-16.9 1.8-24.5 4.9C419.7 44.4 372.2 0 314.2 0c-14.2 0-28 2.6-40.2 7.5-4.9 1.8-6.2 3.5-6.2 7.4v199.6c0 4 3.1 6.9 6.9 7.4h174.5c34.6 0 62.8-28 62.8-62.6.1-34.9-28.1-63.1-62.8-63.1zM211.6 47.9c-3.4 0-6 2.6-6.2 6.2l-2.6 109.3 2.6 52.4c.2 3.4 2.9 6 6.2 6 3.4 0 6-2.6 6-6l3.1-52.4-3.1-109.3c-.3-3.6-2.7-6.2-6-6.2zm-42.9-6.3c-2.6 0-5.1 2.5-5.1 5.4l-3.1 116.1 3.1 53.5c.2 2.9 2.5 5.1 5.1 5.1 2.9 0 5.1-2.2 5.4-5.1l3.5-53.5L174.1 47c-.2-2.9-2.5-5.4-5.4-5.4zm21.4 2.8c-3.1 0-5.5 2.5-5.5 5.5l-3.1 113.3 3.1 53.1c.2 3.1 2.5 5.5 5.5 5.5s5.5-2.5 5.5-5.5l3.4-53.1-3.4-113.3c0-3.1-2.4-5.5-5.5-5.5z"/></svg>');
  background-color: #f50;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.5em;
  font-size: 2.5em;
  height: 1.5em;
  width: 2em;
}

.soundcloud-info {
  background-color: #f50;
  color: white !important;
  font-size: 1.2em;
  height: 3.5em;
  width: 8em;
}

.spotify {
  background: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#1ed761" d="M256 0C114.7 0 0 114.7 0 256s114.7 256 256 256 256-114.7 256-256S397.3 0 256 0zm103.9 376.7c-4.3 0-7-1.3-11-3.7-64.4-38.8-139.4-40.5-213.4-25.3-4 1-9.3 2.7-12.3 2.7-10 0-16.3-7.9-16.3-16.3 0-10.6 6.3-15.7 14-17.3 84.5-18.7 170.9-17 244.6 27 6.3 4 10 7.6 10 17s-7.2 15.9-15.6 15.9zm27.8-67.7c-5.4 0-9-2.4-12.7-4.3-64.5-38.2-160.7-53.6-246.3-30.3-5 1.3-7.6 2.7-12.3 2.7-11 0-20-9-20-20s5.4-18.4 16-21.4c28.7-8.1 58-14 101-14 67 0 131.7 16.6 182.7 47 8.4 5 11.7 11.4 11.7 20.3-.2 11-8.8 20-20.1 20zm32-78.7c-5.4 0-8.7-1.3-13.3-4-73.5-43.9-204.9-54.4-290-30.7-3.7 1-8.4 2.7-13.3 2.7-13.6 0-24.1-10.6-24.1-24.4 0-14 8.7-22 18-24.7 36.3-10.6 77-15.7 121.3-15.7 75.4 0 154.3 15.7 212 49.3 8.1 4.6 13.3 11 13.3 23.3.1 14.2-11.3 24.2-23.9 24.2z"/></svg>');
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1em;
  font-size: 2.5em;
  height: 1.5em;
  width: 2em;
}

.spotify-info {
  background-color: black;
  color: #1ed761;
  font-size: 1em;
  height: 3.5em;
  width: 20em;
}

.youtube {
  background: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 360"><path fill="red" d="M501.3 56.3c-5.9-22.2-23.2-39.6-45.3-45.6C416.1 0 256 0 256 0S95.9 0 56 10.8c-22 5.9-39.4 23.4-45.3 45.6C0 96.5 0 180.4 0 180.4s0 83.8 10.7 124c5.9 22.2 23.2 38.9 45.3 44.8C95.9 360 256 360 256 360s160.1 0 200-10.8c22-5.9 39.4-22.7 45.3-44.8 10.7-40.2 10.7-124 10.7-124s0-83.9-10.7-124.1zM203.6 256.5V104.2l133.8 76.1-133.8 76.2z"/></svg>');
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.5em;
  font-size: 3em;
  height: 1.5em;
  width: 2em;
}

.youtube-info {
  background-color: white;
  color: red;
  font-size: 1.5em;
  height: 3.5em;
  width: 8em;
}

.ytmusic-info {
  background-color: white;
  color: red;
  font-size: 1.5em;
  height: 3.5em;
  width: 15em;
}

.error {
  background-color: red;
  color: white;
  cursor: progress;
  width: 10em;
}
